<%= form_with(model: inventory, local: true) do |form| %>
    <% if inventory.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>
    
        <ul>
            <% inventory.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    
    <div class="field">
        <%= form.label :product_id %>
        <%= form.collection_select :product_id, Product.all, :id, :name, { prompt: 'Select a product' }, data: { url: product_variations_path('PRODUCT_ID_PLACEHOLDER') } %>
    </div>
    
    <div class="field">
        <%= form.label :variation_id %>
        <%= form.collection_select :variation_id, [], :id, :model, include_blank: 'Select a product first' %>
    </div>

    <div class="field">
        <%= form.label :warehouse_id %>
        <%= form.collection_select :warehouse_id, Warehouse.all, :id, :name %>
    </div>
    
    <div class="field">
        <%= form.label :quantity %>
        <%= form.number_field :quantity %>
    </div>
    
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
