<h1>Inventory Details</h1>

<p>
  <strong>Product:</strong>
  <%= @inventory.product.name %>
</p>

<p>
  <strong>Warehouse:</strong>
  <%= @inventory.warehouse.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inventory.quantity %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
